{
  "plugins": ["@my-mimisbrunnr/prettier-plugin-helm"],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*.yaml", "*.yml", "*.prettierrc", "*.babelrc"],
      "exclude": ["**/helm/**/*.yaml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["**/helm/**/*.yaml", "*.tpl", "*.tmpl", "*.gotmpl", "*.gohtml"],
      "options": {
        "parser": "helm"
      }
    }
  ]
}
